# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache
.env

# SQLite database
*.db
*.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store
